@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonStyle {
    @apply px-5 py-3 bg-gray-900 rounded-full hover:bg-gray-950 hover:scale-110
}

::-webkit-scrollbar {
    display: none;
  }

body {
    cursor: default;
}

::selection {
    background: rgb(115, 124, 255);
  }