.hamburgerWrap {
    height: 48px;
    width: auto;
    & button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        height: 100%;
    }
}

.active {
    .line1 {
        rotate: -45deg;
        transform: translateY(5px);
    }
    .line2 {    
        rotate: 45deg;
        transform: translateY(-5px);
    }
}

.line1, .line2 {
    opacity: unset;
  transform: unset;
  transition: all 300ms;
  transform-origin: center;
  stroke-width: 2px;
}